<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.tamatura.oculora" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Oculora</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <!--content src="http://app.oculora.tv/index.html"/-->
  <!--content src="http://10.0.0.2:8080/index.html"/-->
  <content src="http://ec2-52-8-81-196.us-west-1.compute.amazonaws.com:8080/index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>