<div class="modal">
    <ion-modal-view  ng-controller="PubViewCtrl" style="width: 100%; height: 100%;">
        <!--ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Room view</h1>

        </ion-header-bar-->
		<div class="bar bar-header bar-clear" style="z-index:200; opacity: 0.5;">
                    <div class="button-bar">
                        <!--a ng-show="subscribers.length > 0" ng-click="showSubs($event)" ng-class="subsclassresult" ></a-->
						<a class="button button-clear button-small button-balanced"><img  ng-src={{publishItem.imageURL}} height="25px" width="25px" />{{publishItem.rn}}</a>
                        <a ng-click="roompublishend(true)" class="button button-clear button-large icon ion-stop button-assertive" ></a>
                        <a ng-if="inPubPays" ng-click="showPaymentsDialog($event)" ng-class="paymentsCurrentState"></a>
                    </div>
                </div>
        <ion-view >

			
			<!--canvas id="c" width="500" height="500" style="border:1px solid #aaa; z-index:210;"></canvas-->
			<ot-whiteboard ng-if="showWhiteboard" style="z-index:215;"
                    otsindex="currentSidebandIndex"
                    width="1280"
                    height="960"
                    color="black"
                    lineWidth="5"
                    class="OT_big">
                </ot-whiteboard>
			
            <div class="pubcontainer" >
                
                
                <ion-scroll delegate-handle="pubChat" zooming="true" direction="xy" class="col col-50" style="position: absolute;bottom: 100px; top: 70px;">
                    <!--ion-refresher
                            pulling-text="Pull to refresh..."
                            on-refresh="doRefresh()">
                    </ion-refresher-->
					<div  ng-show="subscribers[activeUserIdx].chatWindow.active" class="list" style="border-style: inset; border-width:2px; border-color: orange;">
                        <!--div class="item" ng-repeat="msg in chat.msgs" >
                            <button class="button button-balanced" style=" word-wrap: break-word;" ng-hide="!msg.in1" >{{msg.msg}}</button>
                            <img  ng-hide="msg.in1" ng-src={{msg.imageURL}} height="25px" width="25px" style="margin-bottom=1px;"/>
                        </div-->
						<div class="item" ng-repeat="msg in subscribers[activeUserIdx].chatWindow.msgs" >
							<div ng-class="msg.chatWindowClass" >
								<button class="button button-balanced" style=" word-wrap: break-word;" ng-hide="msg.imageURL" >{{msg.msg}}</button>
								<img ng-show="msg.imageURL" ng-src={{msg.image}} height="25px" width="25px" style="margin-bottom=1px;"/>
							</div>
						</div>
                        <!--div class="item button-bar"-->
                            <!--a ng-click="chatUseImage()" class="button button-clear icon ion-image button-balanced"></a-->
							<!--div type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-change="chatImageFunc($files, $event)"-->
								<!--img ngf-default-src="img/oculora.png" ngf-src="picFile[0]" class="thumb" height="50px" width="50px" /-->
								<!--img ng-src="{{profile.imageURL}}" height="50px" width="50px" /-->
						
							<!--/div-->
                            <!--a ng-click="roompubview.hide()" class="button button-clear icon ion-happy button-balanced"></a-->
                        <!--/div-->
                        <input class="item" style="width:100%;" ng-model="subscribers[activeUserIdx].chatWindow.emsg" ng-enter="chataction()" />
                    </div>
                    <!--div ng-show="chatWindow" class="card list" style="border-style: inset; border-width:2px; border-color: orange;">
                        <div class="item" ng-repeat="msg in chat.msgs" >
                            <div ng-class="msg.chatWindowClass" >
                                <button class="button button-balanced" style=" word-wrap: break-word;" ng-hide="msg.imageURL" >{{msg.msg}}</button>
                                <img  ng-show="msg.imageURL" ng-src={{msg.image}} height="25px" width="25px" style="margin-bottom=1px;"/>
                            </div>
                        </div>
                        <div class="button-bar">
                            <a ng-click="chatUseImage()" class="button button-clear icon ion-image button-balanced"></a>
                            <a ng-click="roompubview.hide()" class="button button-clear icon ion-happy button-balanced"></a>
                        </div>
                        <input ng-model="chat.emsg" ng-enter="chataction()" />
                    </div-->
                </ion-scroll>
            </div>
			<div id='session' ng-class="{'session-connected': connected}" >
				<div id="facePublisher" ng-if="publishing" >
					<!--video width="100%" height="100%" >
						<source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4">

						Your browser does not support HTML5 video.
					</video-->
					<!--button class="button button-balanced"  >OK</button-->
					<ot-publisher id="facePublisher" props="facePublisherProps" otstype="1" >

					</ot-publisher>

				</div>

				<!--div id="msgPublisher" ng-if="publishing">
					<ot-publisher id="msgPublisher" props="facePublisherProps" OTSession="OTSessionMessaging">

					</ot-publisher>

				</div-->
				<div ng-repeat="sub in subscribers" ng-if="publishing">
					<div ng-if="sub.subscribing">
						<ot-publisher props="interactPublisherProps" otstype="2" otsindex="sub.otsindex">

						</ot-publisher>
						<div id='sessionInteract' >
							<ot-subscriber ng-repeat="stream in sub.streams"
										   stream="stream"
										   props="interactPublisherProps"
										   otstype="2" otsindex="sub.otsindex"
										   ng-class="{OT_big: (stream.othLarge == undefined && stream.name == 'screen') || stream.othLarge}"
									>

							</ot-subscriber>
							
						</div>
						
					</div>
				</div>
				
			</div>
			
			
        </ion-view>
		<!--div ng-show="moreOptions" class="bar bar-stable" style="z-index=200; opacity: 0.7; position: absolute;bottom: 50px;">
				
				<div ng-show="subscribers[activeUserIdx].subscribing">
					<a ng-click="chatUseImage()" class="button button-clear button-balanced"><img  ng-src={{publishItem.imageURL}} height="25px" width="25px" />{{publishItem.rn}}</a>
					<a ng-click="sidebandOption({v: 1})" class="button button-clear icon ion-mic-c button-assertive" style="left:10px;"></a>
					<a ng-click="sidebandOption({c: 1})" class="button button-clear icon ion-chatboxes button-assertive" style="left:10px;"></a>	
					<a ng-click="moreOptions=!moreOptions" class="button button-clear icon ion-flash button-assertive pull-right" ></a>		
				</div>
				<div ng-show="!subscribers[activeUserIdx].subscribing">
					<a ng-click="moreOptions=!moreOptions" class="button button-clear icon ion-flash button-assertive" style="right:-20px;"></a>		
				</div>
			</div-->
			<!--div class="bar bar-clear" style="z-index=200; opacity: 0.7; position: absolute;bottom: 50px;">
				<div class="item range" style="width:100%;" ng-show="audioLevelEdit"  >
					<i class="icon ion-volume-low"></i>
					<input type="range" name="volume" min="0" max="100" value="33" ng-model="pubAudioLevel">
					<i class="icon ion-volume-high"></i>
				</div>
			</div-->
		<div class="bar bar-clear" style="width:100%; z-index=200; opacity: 0.7; position: absolute;bottom: 100px;" ng-show="notifyInfo">
			<a class="button button-energized button-small button-clear" ng-click="roomuser(userInfo, $event)">
				<img ng-src="{{userInfo.imageFile}}" height="25px" width="25px"></img>
				{{userInfo.nn}}: {{userState}}
			</a>
			<a ng-click="ackUserState()" class="button button-clear button-small icon ion-checkmark-circled button-energized" style="float:right;"></a>
			<!--a ng-click="subItemOption(newPub.OTSessionSideband.idx)" class="button button-clear button-small icon ion-close-circled button-energized" style="float:right;"></a-->
		</div>
		<div class="bar bar-clear" style="width:100%; z-index=200; opacity: 0.7; position: absolute;bottom: 50px;" ng-show="notifyAction">
			<a class="button button-energized button-small button-clear" ng-click="roomuser(newSub.subInfo, $event)">
				<img ng-src="{{newSub.subInfo.imageFile}}" height="25px" width="25px"></img>
				Connecting...: {{newSub.subInfo.nn}}
			</a>
			<a ng-click="pubItemOption(newSub.OTSessionSideband.idx, true)" class="button button-clear button-small icon ion-checkmark-circled button-energized" style="float:right;"></a>
			<a ng-click="pubItemOption(newSub.idx, false)" class="button button-clear button-small icon ion-close-circled button-energized" style="float:right;"></a>
		</div>
        <div class="bar bar-footer bar-clear" style="width:100%; z-index=200; opacity: 0.5; padding-right:10px;">
			<div style="width:100%;" ng-show="!subscribers[activeUserIdx].subscribing" >
				
				<!--div ng-show="subscribers[activeUserIdx].subscribing">
					<a ng-click="chatUseImage()" class="button button-clear button-balanced"><img  ng-src={{publishItem.imageURL}} height="25px" width="25px" />{{publishItem.rn}}</a>
					
				</div-->
				<a ng-disabled="subscribers.length <= 0" ng-click="showSubs($event)" class="button button-clear button-small  button-assertive ion-person-stalker" style="float:right;">{{subscribers.length}}</a>	
				<!--a ng-click="sidebandOption({v: 1})" class="button button-clear button-small icon ion-flash button-assertive" ></a-->	
				<!--a ng-click="audioLevelEdit=!audioLevelEdit" class="button button-clear button-small icon ion-volume-medium button-assertive" >{{pubAudioLevel}}</a-->
				<!--a ng-click="roompublishend(true)" class="button button-clear button-small icon ion-camera button-assertive" ></a-->	
				<!--a ng-click="roompublishend(true)" class="button button-clear button-small icon ion-headphone button-assertive" ></a-->
				<!--a ng-show="subscribers[activeUserIdx].subscribing" ng-click="moreOptions=!moreOptions" class="button button-clear button-small icon ion-more button-assertive" style="float:right;"></a-->
			</div>
			<div style="width:100%;">
				<div style="width:100%;" ng-show="subscribers[activeUserIdx].subscribing">
					<a class="button button-clear button-small button-balanced"><img  ng-src={{subscribers[activeUserIdx].subInfo.imageFile}} height="25px" width="25px" />{{subscribers[activeUserIdx].subInfo.nn}}</a>
					<a ng-click="sidebandOption({v: 1})" class="button button-clear button-small icon ion-mic-c button-assertive" style="left:10px;"></a>
					<a ng-click="sidebandOption({c: 1})" class="button button-clear button-small icon ion-chatboxes button-assertive" style="left:10px;"></a>
					<a ng-click="toggleWhiteboard()" class="button button-clear button-small icon ion-paintbrush button-assertive" style="float:right;"></a>
					<a ng-click="closeSideband()" class="button button-clear button-small icon ion-close-circled button-assertive" style="float:right;"></a>		
				</div>
				<!--div style="width:100%;" ng-show="!subscribers[activeUserIdx].subscribing">
					<a ng-click="moreOptions=!moreOptions" class="button button-clear icon ion-flash button-assertive" style="float:right;"></a>		
				</div-->
			</div>
		</div>
    </ion-modal-view>
</div>